.otp-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.otp-box {
  border-radius: 12px;
  background-color: rgb(19, 25, 28);
  width: 90%;
  max-width: 500px;
  padding: 50px 20px;
  text-align: center;
}
.title {
  font-size: 25px;
  margin-bottom: 30px;
  color: white;
}
#otp-form {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#otp-form input {
  border: none;
  background-color: #121517;
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: 180px;
  height: 70px;
  border-radius: 4px;
  outline: 2px solid rgb(66, 66, 66);
}
#otp-form input:focus-visible {
  outline: 2px solid royalblue;
}
#otp-form input.filled {
  outline: 2px solid rgb(7, 192, 99);
}
#verify-btn {
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  background: #153bad;
  color: white;
  padding: 7px 20px;
  border-radius: 4px;
  font-size: 15px;
  border: none;
  transition: 0.3s all ease-in-out ;
  &:hover{
     background-color: #274cbb;
     
  }
}
