@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "Montserrat", sans-serif;
}

a{
  text-decoration: none;
}

:root {
  --primary-color: #2A7DE1;
  --secondary-color: #1AC8DB ;
  --notification-color: #F4B400 ;
  --bg-color: #F8FAFC ;
  --text-color: #1E293B  ;
}
