.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
  padding-top: 30px;
  width: 450px;

  border-radius: 20px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

::placeholder {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: var(--text-color);
  font-weight: 600;
}
.form-box-1{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
}
.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  transition: 0.2s ease-in-out;
  background-color: #fff;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  color: var(--text-color);
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2A7DE1;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background: var(--primary-color);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.btn:hover {
  background-color: #044ca3 !important;
  
}

.p {
  text-align: center;
  color: var(--text-color);
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  background-color: var(--primary-color);
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  gap: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
   background: var(--primaryHover-color);
  
}

    

.link{
  text-decoration: none;
  color: #2A7DE1;
}
.signup-form{
  flex-direction:row;
  gap:30px;
   width:auto;
}

@media (max-width: 600px) {

  .form{
    width: 100%;
  }
}

@media (max-width: 700px) {

.signup-form{
  flex-direction:column;
  gap:10px;
  width:100%;
}
.profile-form{
  flex-direction:column !important;
  
}
.form-box-1{
  width: 100%;
}
}